*{
  margin: 0;
  padding: 0;
  font-family: "montserrat", sans-serif;
}

.contact-section{
  background: url(https://wallpaperaccess.com/full/83937.jpg) ;
  background-size: cover;
  padding: 40px 0;
  height: 100vh
  overflow: hidden;
}

.contact-section h1{
  text-align: center;
  color: white;
}

.border{
  width: 100px;
  height: 10px;
  background: #34495e;
  margin: 40px auto;
}

.contact-form{
  max-width: 600px;
  margin: auto;
  padding: 0 10px;
  overflow: hidden;

}

.contact-form-text{
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin: 16px 0;
  border: 0;
  background: white;
  padding: 40px 20px;
  outline: none;
  color: black;
  transition: 0.5s;
  border-radius: 15px;
}

.contact-form-text:focus{
  box-shadow: 0 0 10px 4px #34495e;
}

textarea.contact-form-text{
  resize: none;
  height: 120px;
}

.contact-form-btn{
  float: right;
  border: 0;
  background: #34495e;
  color: #fff;
  padding: 12px 50px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.5s;
}

.contact-form-btn:hover{
  background: #2980b9
}

.back{
  border: 0;
  background: #34495e;
  color: #fff;
  padding: 12px 50px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.5s;
  position: relative;
  left: 20px;
  bottom: 39px
}
