

.outer-container { 
	text-align: center;
}

.outer-container p{ 
	display: none;
}

.outer-container br{ 
	display: none;
}

.outer-container {
    position: relative;
}

.dropdown-container {
    overflow-x: auto;
}

.dropdown-location {
    display: inline-block;
    margin: 0 8px 8px;
}

.dropdown-content-location {
    display: none;
    position: absolute; /* Đặt cố định thay vì tuyệt đối */
    background-color: white;
    width: auto;
    height: auto;
    overflow-y: auto;
    z-index: 1000;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    padding: 3px;
    border-radius: 10px;
}

.last.dropdown-content-location { 
    right: 0;
}

.dropdown-location:hover .dropdown-content-location {
    display: block;
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.dropdown-content-location a {
    font-weight: 500;
    font-size: 17px;
    color: black;
    padding: 10px 20px 10px 18px;
    text-decoration: none;
    display: block;
    display: flex;
    align-items: center;
}

.dropdown-content-location a:hover {
    background-color: #f5f5f5;
    color: black;
}

.dropdown-location img {
    width: 60px;
    height: 60px !important;
    padding: 3px;
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid white;
    background-color: white;
    box-sizing: border-box;
}

.image-caption {
    color: white;
    font-weight: 500;
    margin-top: 4px;
}

.dropdown-content-location a img {
    margin-right: 25px;
    width: 50px;
    height: 50px !important;
    border: none;
}

.dropdown-container::-webkit-scrollbar {
    display: none;
}

.dropdown-content-location::-webkit-scrollbar {
    width: 8px; /* Độ rộng của scrollbar */
    height: 8px; /* Độ cao của scrollbar (nếu nằm ngang) */
}

.dropdown-content-location::-webkit-scrollbar-track {
    background: #f0f0f0; /* Màu nền của track (đường ray) */
    border-radius: 10px; /* Bo tròn góc */
}

.dropdown-content-location::-webkit-scrollbar-thumb {
    background: #888; /* Màu của thanh cuộn */
    border-radius: 10px; /* Bo tròn góc */
    border: 2px solid #f0f0f0; /* Tạo khoảng cách giữa thumb và track */
}

.dropdown-content-location::-webkit-scrollbar-thumb:hover {
    background: #555; /* Màu của thanh cuộn khi hover */
}

.dropdown-content-location::-webkit-scrollbar-corner {
    background: #f0f0f0; /* Màu góc nếu scrollbar nằm trong container vuông */
}

@media (max-width: 768px) {
    .dropdown-content-location a {
       font-size: 17px;
    }

    .dropdown-content-location {    
      width: auto;
      left: 0;
      white-space: normal;
      height: auto;
      padding: 3px;
}
	
    .dropdown-content-location a img {
     width: 60px;
     height: 60px !important;
    }

    .dropdown-container {
        white-space: nowrap; 
    }
}
